footer {
    width: 100vw;
    height: 40vh;
    display: flex !important;
    justify-content: space-evenly;
    align-items: center ;
    box-shadow: 0 0 10px grey;
    background: #cdfcf65d ;
    backdrop-filter: blur(3px) ;
}

footer .right_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

footer .right_footer ul {
    display: flex;
    list-style: none;
    gap: .8em;
    font-size: 1.7em;
}

footer .right_footer h2 {
    width: 75%;
    text-align: left;
    font-size: 3em !important;
}

@media (max-width: 768px) {
    footer {
        padding: 3em 0;
        gap: 2em;
        height: fit-content;
        flex-direction: column;
    }

    footer article {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    footer .left_footer {
        display: none;
    }
}